//Sass nesting 적용

.userLine {
  .subject {
    margin-top: 7px;
    font-weight: bold;
  }
  .additional {
    color: gray;
    font-size: 14px;
  }
}

.userTwoBox {
  display: flex;
  justify-content: space-around;
  .userTwo {
    display: flex;
    padding-bottom: 20px;
    border: none;
    justify-content: space-around;
    .recommend {
      display: flex;
      position: relative;
      .recommendName {
        left: 20px;
        top: 10px;
        .subject {
          margin-top: 7px;
          font-weight: bold;
        }
        .additional {
          color: gray;
          font-size: 14px;
        }
      }
    }
  }
  button {
    margin: 10px;
    height: 23px;
    background-color: white;
    border: none;
    font-weight: bolder;
    color: rgb(34, 153, 244);
  }
}

ul {
  padding-left: 0px;
  list-style: none;
  .commentList {
    display: flex;
    justify-content: space-between;
    .commentListRight {
      margin-right: 15px;
      .fa-heart {
        font-size: 11px;
      }
      .deleteBtn {
        background-color: white;
        border: none;
        color: gray;
      }
    }
  }
}

#commentBox {
  position: relative;
  #comment {
    width: 90%;
    text-align: left;
    padding: 0;
    padding-left: 10px;
    margin: 10px 5px;
    border: none;
    height: 25px;
  }
  .commentBt {
    position: absolute;
    right: 10px;
    top: 14px;
    background-color: white;
    border: none;
    color: rgb(34, 153, 244);
  }
}

footer {
  color: gray;
  #footerTop {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

#searchBox {
  position: relative;
  .searchInput {
    width: 200px;
    height: 25px;
    right: 0;
    text-align: center;
  }
  .fa-magnifying-glass {
    position: absolute;
    width: 20px;
    right: 120px;
    top: 7px;
  }
}

.stories {
  border: 1px solid lightgray;
  height: 280px;
  margin-bottom: 10px;

  .user {
    margin-left: 20px;
  }
}

article {
  border: 1px solid lightgray;
  #articleTop {
    display: flex;
    justify-content: space-between;
    #articleTopLeft {
      display: flex;
    }
    .fa-ellipsis {
      margin: auto 20px;
    }
  }
  #articleImg {
    width: 100%;
  }
}

#feedIcon {
  display: flex;
  justify-content: space-between;
  #iconLeft {
    .icon {
      width: 30px;
      padding-top: 5px;
      padding-right: 0px;
      padding-left: 10px;
    }
  }
  #iconRight {
    margin-right: 10px;
    .icon {
      width: 30px;
      padding-top: 5px;
      padding-right: 0px;
      padding-left: 10px;
    }
  }
}

#articleBottom {
  padding-left: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  #feedLikeBox {
    display: flex;
    #likeBoxText {
      margin: auto 0;
    }
  }
}

//

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  right: 0;
  background-color: white;
  top: 0;
  padding: 20px 0;
}

.feeds {
  width: 600px;
  height: 860px;
  margin-right: 20px;
}

.main-right {
  border: 1px solid lightgray;
  border: none;
  width: 400px;
  height: 600px;
}

#more {
  margin-left: 10px;
  color: gray;
}

#time {
  color: gray;
}

.feedMain {
  margin-top: 130px;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#subject {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

#likeBoxImg {
  padding-right: 5px;
  margin: 10px 0;
  width: 30px;
}

input:focus {
  outline: none;
}

p {
  margin: 0;
}

.storiesTop {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.user {
  display: flex;
  padding-bottom: 20px;
  border: none;
  margin-left: 20px;
}

.logoImage {
  padding-right: 20px;
  width: 30px;
}

.profileImage {
  width: 35px;
  height: 35px;
  padding: 0;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 100%;
}

.userName {
  font-weight: bolder;
}
